body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
}

h1,
h6,
p {
    margin: 0;
}
  
#root {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #ff9200;
    padding: 50px 30px;
    box-sizing: border-box;
}
  
.app {
    max-width: 500px;
    margin: 0px auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}
  
h1 {
    font-size: 36px;
}
  
header,
.search {
    text-align: center;
    margin-bottom: 30px;
}
  
.description {
    font-size: 20px;
    margin-bottom: 15px;
}
  
.person {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
    min-height: 200px;
}
  
.person > div {
    width: 45%;
}

.row:not(:last-child) {
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    font-weight: 500;
}

label {
    font-size: 14px;
    font-weight: 400;
}
  
.error {
    margin-bottom: 15px;
    color: #c00202;
    font-size: 12px;
}
  
input,
button {
    outline: none;
}
  
form {
    display: flex;
    position: relative;
    justify-content: center;
}

button {
    background: #efff00;
    border: 0;
    padding: 15px;
    border-radius: 50px;
}

input {
    border: 0px;
    padding: 15px;
    font-size: 14px;
    min-width: 250px;
    border-radius: 50px;
    padding-right: 40px;
    margin-right: -40px;
    box-sizing: border-box;
}
  
@media screen and (max-width: 500px) {
    h1 {
        font-size: 24px;
    }
  
    header, .search {
        margin-bottom: 20px;
    }
  
    .description {
        font-size: 16px;
    }

    button {
        position: absolute;
        right: 0;
        z-index: 5;
    }

    input {
        min-width: 100%;
        position: relative;
        z-index: 2;
        padding-right: 80px;
        margin-right: 0;
      }
}
  
@media screen and (max-width: 400px) {
    h1 {
        font-size: 22px;
    }
  
    .person > div {
        width: 100%;
    }
  
    .person__info {
        margin-bottom: 20px;
    }
}